{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for machine in machines %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ machine.get_thumbnail(data_uri=True) }}" class="card-img-top" alt="Thumbnail for {{ machine.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ machine.name }}</h5>
        <p class="card-text">
          <span class="badge text-bg-{{ ['secondary', 'success', 'warning', 'danger'][machine.get_health()[1]] }}">{{ machine.get_health()[0] }}</span>
          <br>
          Location: {{ machine.groups[0] }}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
