{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="d-flex">
  <h3 class="me-auto">Dashboard</h3>
</div>
<hr>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Machines</h5>
        <p class="card-text">Count: {{ g.api.machines | length }}</p>
      </div>
      <ul class="list-group list-group-flush">
        {% for health, machines in g.api.machines | groupby("health") %}
        <li class="list-group-item">{{ health.name | replace("_", " ") | title }}: {{ machines | length }}</li>
        {% endfor %}
      </ul>
      <div class="card-body">
        <a href="{{ url_for('machine.overview') }}" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Mediums</h5>
        <p class="card-text">Count: {{ g.api.mediums | length }}</p>
        <a href="{{ url_for('medium.overview') }}" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
