<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | VirtualBox Web API</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    {% block head %}{% endblock %}
  </head>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">VirtualBox Web API</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if session.get("username") %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <body class="container pb-5" style="padding-top: 80px;">
    {% block content %}{% endblock %}
  </body>
</html>
