{% extends "layout.html" %}
{% block title %}{{ machine.name }}{% endblock %}
{% block content %}
<div class="d-flex justify-content-between">
  <h3>{{ machine.name }}</h3>
  <div class="btn-group">
    {% if machine.state == "Running" %}
    <a class="btn btn-danger" href="{{ url_for('machine_stop', machine_id=machine.id) }}" role="button">Stop</a>
    {% else %}
    <a class="btn btn-primary" href="{{ url_for('machine_start', machine_id=machine.id, front_end='headless') }}" role="button">Start</a>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
      <span class="visually-hidden"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('machine_start', machine_id=machine.id, front_end='gui') }}">GUI</a></li>
    </ul>
    {% endif %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <img src="{{ machine.get_thumbnail(data_uri=True) }}" class="img-thumbnail" alt="Thumbnail for {{ machine.name }}">
  </div>
  <div class="col">
    <p><b>State:</b> <span class="badge text-bg-{{ ['secondary', 'success', 'warning', 'danger'][machine.get_health()[1]] }}">{{ machine.get_health()[0] }}</span></p>
    <p><b>Location:</b> {{ machine.groups[0] }}</p>
    <p><b>OS:</b> {{ machine.get_os_type_description() }}</p>
    <p><b>Firmware:</b> {{ machine.firmware_type }}</p>
  </div>
</div>
{% endblock %}
