{% extends "layout.html" %}
{% block title %}Mediums{% endblock %}
{% block content %}
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <section id="hard-disks">
      <h5>Hard Disks</h5>
      <ul class="list-group py-2">
        {% for medium in g.api.hard_disks %}
        <li class="list-group-item">
          {% if medium.all_children %}
          <div class="dropdown-toggle" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#children-{{ medium.id }}">
          {% else %}
          <div>
          {% endif %}
            <b>Location: </b><a href="{{ url_for('medium.download', id=medium.id) }}"><span class="font-monospace">{{ medium.base.get_path() }}</span></a>
          </div>
          {% if medium.all_children %}
          <ul class="list-group collapse py-2" id="children-{{ medium.id }}">
          {% for child in medium.all_children %}
            <li class="list-group-item font-monospace">{{ child.get_path() }}</li>
          {% endfor %}
          </ul>
          {% endif %}
          <b>Format: </b>{{ medium.format }}<br>
          <b>Size: </b>{{ medium.logical_size | filesizeformat(binary=True) }}<br>
        </li>
        {% else %}
        <li class="list-group-item">
          <p>No hard disks found.</p>
        </li>
        {% endfor %}
      </ul>
    </section>
  </li>
  <li class="list-group-item">
    <section id="dvd-images">
      <h5>DVD Images</h5>
      <ul class="list-group py-2">
        {% for medium in g.api.dvd_images %}
        <li class="list-group-item">
          <b>Location: </b><a class="font-monospace" href="{{ url_for('medium.download', id=medium.id) }}">{{ medium.base.get_path() }}</a><br>
          <b>Format: </b>{{ medium.format }}<br>
          <b>Size: </b>{{ medium.logical_size | filesizeformat(binary=True) }}<br>
        </li>
        {% else %}
        <li class="list-group-item">
          <p>No DVD images found.</p>
        </li>
        {% endfor %}
      </ul>
    </section>
  </li>
  <li class="list-group-item">
    <section id="floppy-images">
      <h5>Floppy Images</h5>
      <ul class="list-group py-2">
        {% for medium in g.api.floppy_images %}
        <li class="list-group-item">
          <b>Location: </b><a class="font-monospace" href="{{ url_for('medium.download', id=medium.id) }}">{{ medium.base.get_path() }}</a><br>
          <b>Format: </b>{{ medium.format }}<br>
          <b>Size: </b>{{ medium.logical_size | filesizeformat(binary=True) }}<br>
        </li>
        {% else %}
        <li class="list-group-item">
          <p>No floppy images found.</p>
        </li>
        {% endfor %}
      </ul>
    </section>
  </li>
</ul>
{% endblock %}
