{% extends "layout.html" %}
{% block title %}Mediums - {{ machine.name }}{% endblock %}
{% block content %}
  <div class="d-flex">
    <h3 class="me-auto">Mediums - {{ machine.name }}</h3>
    <a class="btn btn-outline-danger me-2"
       href="{{ url_for('machine.edit', id=machine.id) }}"
       role="button">Back</a>
  </div>
  <hr />
  <div class="row">
    <ul class="list-group list-group-flush">
      <div class="col">
        <li class="list-group-item">
          <section id="attach-medium">
            <h5 class="mb-3">Attach Medium</h5>
            <form action="{{ url_for('machine.attach_medium', id=machine.id) }}"
                  method="POST">
              <div class="input-group mb-3">
                <span class="input-group-text">Storage Controller</span>
                <select id="storage_controller" name="storage_controller" class="form-select">
                  {% for storage_controller in machine.storage_controllers | sort(attribute="name") %}
                    <option value="{{ storage_controller.name }}">{{ storage_controller.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Medium</span>
                <select id="medium_id" name="medium_id" class="form-select">
                  {% for medium in g.api.mediums | sort(attribute="name") %}
                    <option value="{{ medium.id }}">{{ medium.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Attach</button>
            </form>
          </section>
        </li>
        <li class="list-group-item">
          <section id="detach-medium">
            <h5>Detach Medium</h5>
            <ul class="list-group list-group-flush">
              {% for storage_controller in machine.storage_controllers %}
                <li class="list-group-item">
                  <b>Controller: </b>{{ storage_controller.name }}
                  <br />
                  {% for medium_attachment in machine.get_medium_attachments_of_controller(storage_controller.name) %}
                    {% if medium_attachment.medium %}
                      <b>Device: </b>{{ medium_attachment.device }}, <b>Port: </b>{{ medium_attachment.port }}
                      <br />
                      <b>{{ medium_attachment.medium.base.get_device_type_name() }}: </b><span class="font-monospace">{{ medium_attachment.medium.base.get_path() }}</span>
                      <br />
                      <a href="{{ url_for('machine.detach_medium', id=machine.id, medium_id=medium_attachment.medium.id) }}">Detach</a>
                      <br />
                    {% endif %}
                  {% endfor %}
                </li>
              {% endfor %}
            </ul>
          </section>
        </li>
        {% set guest_additions_medium = g.api.get_guest_additions_medium() %}
        {% if guest_additions_medium %}
          <li class="list-group-item">
            <section id="guest-additions">
              <h5 class="mb-3">Guest Additions</h5>
              {% if guest_additions_medium in machine.mediums %}
                <a class="btn btn-outline-danger me-2"
                   href="{{ url_for('machine.detach_medium', id=machine.id, medium_id=guest_additions_medium.id) }}"
                   role="button">Detach Guest Additions CD Image</a>
              {% else %}
                <form action="{{ url_for('machine.attach_medium', id=machine.id, medium_id=guest_additions_medium.id) }}"
                      method="POST">
                  <div class="input-group mb-3">
                    <span class="input-group-text">Storage Controller</span>
                    <select id="storage_controller" name="storage_controller" class="form-select">
                      {% for storage_controller in machine.storage_controllers | sort(attribute="name") %}
                        <option value="{{ storage_controller.name }}">{{ storage_controller.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Attach Guest Additions CD Image</button>
                </form>
              {% endif %}
            </section>
          </li>
        {% endif %}
      </div>
    </ul>
  </div>
{% endblock %}
